*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgba(25, 102, 112, 0.571);
    width: 400px;
    height: 400px;
}
h1{
    text-align: center;
}
input, button{
    width: 250px;
    height: 30px;
    border: 1px solid rgb(54, 179, 54);
    outline: none;
    padding: 4px;
}
label{
    font-size: 13pt;
    margin-bottom: -10px;
    font-family: sans-serif;
    margin-left: -20px;
}
button{
    padding: 5px;
    font-size: 13pt;
    border: transparent;
    background-color: rgb(54, 179, 54);
    color: white;
    transition: all ease-in-out .5s;
    cursor: pointer;
}
button:active{
    transform: translateY(10px);
}
span{
    min-height: 20px;
    min-width: 40px;
}